// Specific CSS for your home-page
.banner {

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
  }
}

.lists-container {

  display: flex;
  flex-wrap: wrap;
  margin: 40px;
  margin-top: 15px;

}
