.movie-card {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  height: 500px;
  width: 500px;

  img {
    height: 250px;
    width: 100%;
    object-fit: cover;
  }

  h2 {
    font-size: 30px;
    font-weight: bold;
    margin: 10;
  }

  p {
    font-size: 16px;
    margin: 10;
  }

  i {
    display: flex;
    justify-content: end;
    margin-right: 25px;
    margin-bottom: 0;
  }
}
